In [2]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (4.5.2)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (1.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\icore\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [3]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams["font.family"]="Malgun Gothic"
matplotlib.rcParams["axes.unicode_minus"]= False

In [4]:
sdf =data.get_data_yahoo('005930.KS','2017-01-01')
sdf

               High      Low     Open    Close      Volume     Adj Close
Date
2017-01-02  36240.0  35880.0  35980.0  36100.0   4650600.0   7630.107910
2017-01-03  36620.0  36020.0  36280.0  36480.0   7357650.0   7710.425293
2017-01-04  36520.0  36100.0  36500.0  36160.0   7971750.0   7642.790527
2017-01-05  36060.0  35540.0  36060.0  35560.0  10967450.0   7515.973145
2017-01-06  36440.0  36040.0  36180.0  36200.0   8880950.0   7651.245117
...             ...      ...      ...      ...         ...           ...
2020-09-03  56700.0  55500.0  55600.0  56400.0  28384920.0  56400.000000
2020-09-04  55800.0  55100.0  55200.0  55600.0  22139109.0  55600.000000
2020-09-07  57300.0  55800.0  56100.0  56500.0  18685880.0  56500.000000
2020-09-08  58700.0  57200.0  57400.0  58700.0  31517520.0  58700.000000
2020-09-09  59300.0  57800.0  58200.0  58800.0  16203590.0  58800.000000

[899 rows x 6 columns]

In [5]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 899 entries, 2017-01-02 to 2020-09-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       899 non-null    float64
 1   Low        899 non-null    float64
 2   Open       899 non-null    float64
 3   Close      899 non-null    float64
 4   Volume     899 non-null    float64
 5   Adj Close  899 non-null    float64
dtypes: float64(6)
memory usage: 49.2 KB

In [6]:
sdf.index

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11',
               '2017-01-12', '2017-01-13',
               ...
               '2020-08-27', '2020-08-28', '2020-08-31', '2020-09-01',
               '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-07',
               '2020-09-08', '2020-09-09'],
              dtype='datetime64[ns]', name='Date', length=899, freq=None)

In [ ]:
#시계열데이터 :인덱스가 datetime형인경우(인덱싱,슬라이싱)

In [7]:
sdf['2019']

               High      Low     Open    Close      Volume  Adj Close
Date
2019-01-02  39400.0  38550.0  39400.0  38750.0   7847664.0    38750.0
2019-01-03  38550.0  37450.0  38300.0  37600.0  12471493.0    37600.0
2019-01-04  37600.0  36850.0  37450.0  37450.0  14108958.0    37450.0
2019-01-07  38900.0  37800.0  38000.0  38750.0  12748997.0    38750.0
2019-01-08  39200.0  37950.0  38000.0  38100.0  12756554.0    38100.0
...             ...      ...      ...      ...         ...        ...
2019-12-23  56400.0  55100.0  56100.0  55500.0   9839252.0    55500.0
2019-12-24  55700.0  54800.0  55600.0  55000.0  11868463.0    55000.0
2019-12-26  55400.0  54400.0  54700.0  55400.0   9645034.0    55400.0
2019-12-27  56900.0  55500.0  55700.0  56500.0  12313056.0    56500.0
2019-12-30  56600.0  55700.0  56200.0  55800.0   8356767.0    55800.0

[245 rows x 6 columns]

In [8]:
sdf['2019-02']

               High      Low     Open    Close      Volume  Adj Close
Date
2019-02-01  46950.0  46250.0  46650.0  46350.0  13832454.0    46350.0
2019-02-07  47100.0  46200.0  46800.0  46200.0  15872001.0    46200.0
2019-02-08  45700.0  44650.0  45700.0  44800.0  12689196.0    44800.0
2019-02-11  45000.0  44250.0  44500.0  45000.0  11125044.0    45000.0
2019-02-12  46250.0  44650.0  44650.0  46050.0  13184367.0    46050.0
2019-02-13  46700.0  46000.0  46400.0  46200.0  11299738.0    46200.0
2019-02-14  47500.0  46150.0  46600.0  47500.0  17259341.0    47500.0
2019-02-15  46850.0  45650.0  46750.0  46050.0  10554643.0    46050.0
2019-02-18  46850.0  45850.0  46500.0  46200.0   8183728.0    46200.0
2019-02-19  46150.0  45450.0  45850.0  45950.0   6741395.0    45950.0
2019-02-20  47100.0  46500.0  46750.0  46900.0  11506720.0    46900.0
2019-02-21  47200.0  46200.0  46500.0  46950.0   8694009.0    46950.0
2019-02-22  47150.0  46450.0  46500.0  47150.0   6895772.0    47150.0
2019-02-25  47550.0  47050.0  47400.0  47350.0   7484716.0    47350.0
2019-02-26  47450.0  46500.0  47350.0  46750.0   7985547.0    46750.0
2019-02-27  47250.0  46750.0  47000.0  46750.0   8045211.0    46750.0
2019-02-28  46500.0  45100.0  46400.0  45100.0  23569321.0    45100.0

In [9]:
sdf['2019-01':'2019-06']

               High      Low     Open    Close      Volume  Adj Close
Date
2019-01-02  39400.0  38550.0  39400.0  38750.0   7847664.0    38750.0
2019-01-03  38550.0  37450.0  38300.0  37600.0  12471493.0    37600.0
2019-01-04  37600.0  36850.0  37450.0  37450.0  14108958.0    37450.0
2019-01-07  38900.0  37800.0  38000.0  38750.0  12748997.0    38750.0
2019-01-08  39200.0  37950.0  38000.0  38100.0  12756554.0    38100.0
...             ...      ...      ...      ...         ...        ...
2019-06-24  45800.0  45200.0  45200.0  45500.0   6085066.0    45500.0
2019-06-25  45800.0  45200.0  45200.0  45600.0   7076774.0    45600.0
2019-06-26  46000.0  45600.0  45800.0  45700.0   9226097.0    45700.0
2019-06-27  46600.0  45750.0  46000.0  46500.0  12603534.0    46500.0
2019-06-28  47000.0  46700.0  47000.0  47000.0  12949231.0    47000.0

[121 rows x 6 columns]

In [11]:
sdf['2019-01-01':]

               High      Low     Open    Close      Volume  Adj Close
Date
2019-01-02  39400.0  38550.0  39400.0  38750.0   7847664.0    38750.0
2019-01-03  38550.0  37450.0  38300.0  37600.0  12471493.0    37600.0
2019-01-04  37600.0  36850.0  37450.0  37450.0  14108958.0    37450.0
2019-01-07  38900.0  37800.0  38000.0  38750.0  12748997.0    38750.0
2019-01-08  39200.0  37950.0  38000.0  38100.0  12756554.0    38100.0
...             ...      ...      ...      ...         ...        ...
2020-09-03  56700.0  55500.0  55600.0  56400.0  28384920.0    56400.0
2020-09-04  55800.0  55100.0  55200.0  55600.0  22139109.0    55600.0
2020-09-07  57300.0  55800.0  56100.0  56500.0  18685880.0    56500.0
2020-09-08  58700.0  57200.0  57400.0  58700.0  31517520.0    58700.0
2020-09-09  59300.0  57800.0  58200.0  58800.0  16203590.0    58800.0

[418 rows x 6 columns]

In [10]:
sdf[ sdf.index > '2019-01-01']

               High      Low     Open    Close      Volume  Adj Close
Date
2019-01-02  39400.0  38550.0  39400.0  38750.0   7847664.0    38750.0
2019-01-03  38550.0  37450.0  38300.0  37600.0  12471493.0    37600.0
2019-01-04  37600.0  36850.0  37450.0  37450.0  14108958.0    37450.0
2019-01-07  38900.0  37800.0  38000.0  38750.0  12748997.0    38750.0
2019-01-08  39200.0  37950.0  38000.0  38100.0  12756554.0    38100.0
...             ...      ...      ...      ...         ...        ...
2020-09-03  56700.0  55500.0  55600.0  56400.0  28384920.0    56400.0
2020-09-04  55800.0  55100.0  55200.0  55600.0  22139109.0    55600.0
2020-09-07  57300.0  55800.0  56100.0  56500.0  18685880.0    56500.0
2020-09-08  58700.0  57200.0  57400.0  58700.0  31517520.0    58700.0
2020-09-09  59300.0  57800.0  58200.0  58800.0  16203590.0    58800.0

[418 rows x 6 columns]

In [14]:
sdf['year']=sdf.index.year

In [16]:
sdf['month']=sdf.index.month

In [18]:
g = sdf.groupby('year')
g.mean()

,High,Low,Open,Close,Volume,Adj Close,month
year,,,,,,,
2017,46713.221757,45887.949791,46285.355649,46300.502092,1.148688e+07,13143.165121,6.384937
2018,47346.942149,46335.165289,46860.785124,46823.471074,1.259780e+07,41784.777424,6.487603
2019,46965.306122,46098.571429,46541.632653,46557.959184,1.089198e+07,46557.959184,6.502041
2020,54665.895954,53333.815029,54018.497110,53975.144509,2.177022e+07,53975.144509,4.722543

In [19]:
g = sdf.groupby( sdf.index.year)
g.mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017,46713.221757,45887.949791,46285.355649,46300.502092,1.148688e+07,13143.165121,2017.0,6.384937
2018,47346.942149,46335.165289,46860.785124,46823.471074,1.259780e+07,41784.777424,2018.0,6.487603
2019,46965.306122,46098.571429,46541.632653,46557.959184,1.089198e+07,46557.959184,2019.0,6.502041
2020,54665.895954,53333.815029,54018.497110,53975.144509,2.177022e+07,53975.144509,2020.0,4.722543

In [20]:
g = sdf.groupby( sdf.index.month)
g.mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
1,47377.469880,46307.831325,46838.915663,46865.301205,1.424406e+07,34957.848245,2018.506024,1.0
2,48423.600000,47387.333333,47881.333333,47878.000000,1.480051e+07,35472.499062,2018.493333,2.0
3,47020.235294,45795.764706,46360.823529,46441.411765,1.798071e+07,33842.387305,2018.494118,3.0
4,47254.337349,46304.216867,46808.433735,46829.759036,1.365878e+07,38983.022061,2018.506024,4.0
5,47677.974684,46709.873418,47244.556962,47138.101266,1.551114e+07,38655.357459,2018.506329,5.0
6,48795.802469,47807.283951,48286.172840,48336.543210,1.476253e+07,39116.307473,2018.518519,6.0
7,49636.067416,48765.393258,49245.168539,49165.842697,1.188592e+07,40789.269948,2018.539326,7.0
8,48762.588235,47853.529412,48369.647059,48258.588235,1.257806e+07,39541.721530,2018.458824,8.0
9,49224.126984,48376.507937,48724.761905,48898.095238,1.209676e+07,37580.859235,2018.206349,9.0
10,49292.241379,48288.448276,48766.551724,48732.413793,1.041608e+07,38824.366817,2018.086207,10.0
11,50707.377049,49731.803279,50319.344262,50203.606557,1.031349e+07,38160.903208,2018.000000,11.0
12,48570.526316,47640.526316,48080.175439,48071.052632,1.282465e+07,37941.965118,2018.035088,12.0

In [21]:
g = sdf.groupby( [sdf.index.year, sdf.index.month] )
g.mean()

                   High           Low          Open         Close  \
Date Date
2017 1     37826.000000  37079.000000  37340.000000  37486.000000
     2     38912.000000  38276.000000  38578.000000  38571.000000
     3     41447.272727  40740.909091  40890.000000  41166.363636
     4     42261.000000  41549.000000  41910.000000  41959.000000
     5     46040.000000  45188.421053  45590.526316  45550.526316
     6     46869.523810  46216.190476  46460.952381  46574.285714
     7     49745.714286  48939.047619  49334.285714  49393.333333
     8     47323.636364  46495.454545  47096.363636  46858.181818
     9     50516.000000  49716.000000  50023.000000  50214.000000
     10    54593.750000  53442.500000  53997.500000  53961.250000
     11    56005.000000  54952.000000  55669.000000  55366.000000
     12    51328.888889  50258.888889  50790.000000  50733.333333
2018 1     50688.571429  49367.619048  50108.571429  49933.333333
     2     48043.333333  46793.333333  47413.333333  47248.888889
     3     50141.904762  49035.238095  49611.428571  49683.809524
     4     50606.666667  49520.000000  50019.047619  50163.809524
     5     51835.000000  50647.500000  51407.500000  51102.500000
     6     48905.263158  47907.894737  48526.315789  48371.052632
     7     46704.545455  45890.909091  46320.454545  46220.454545
     8     46229.545455  45431.818182  45763.636364  45947.727273
     9     46476.470588  45620.588235  46076.470588  46064.705882
     10    44169.047619  43133.333333  43614.285714  43600.000000
     11    43807.142857  42857.142857  43366.666667  43390.476190
     12    40260.526316  39515.789474  39813.157895  39826.315789
2019 1     41902.272727  40970.454545  41415.909091  41600.000000
     2     46779.411765  45861.764706  46370.588235  46308.823529
     3     45010.000000  44072.500000  44542.500000  44560.000000
     4     46490.909091  45611.363636  46088.636364  46061.363636
     5     43573.809524  42602.380952  43123.809524  43023.809524
     6     45057.894737  44357.894737  44663.157895  44865.789474
     7     46619.565217  45865.217391  46276.086957  46215.217391
     8     44254.761905  43483.333333  43871.428571  43840.476190
     9     47526.315789  46750.000000  47089.473684  47294.736842
     10    50376.190476  49516.666667  49933.333333  49880.952381
     11    52655.000000  51730.000000  52270.000000  52195.000000
     12    53982.500000  53002.500000  53495.000000  53507.500000
2020 1     59475.000000  58195.000000  58870.000000  58815.000000
     2     59675.000000  58330.000000  58890.000000  59085.000000
     3     51440.909091  49325.000000  50381.818182  50331.818182
     4     49567.500000  48445.000000  49127.500000  49045.000000
     5     49476.315789  48626.315789  49071.052632  49100.000000
     6     53768.181818  52218.181818  52950.000000  52986.363636
     7     55356.521739  54256.521739  54930.434783  54726.086957
     8     57865.000000  56600.000000  57360.000000  56980.000000
     9     56814.285714  55657.142857  55885.714286  56371.428571

                 Volume     Adj Close  year  month
Date Date
2017 1     1.102530e+07   7923.053906  2017      1
     2     1.192612e+07   8152.379785  2017      2
     3     1.193883e+07   8861.774814  2017      3
     4     1.191310e+07  10653.381592  2017      4
     5     1.358061e+07  11565.269583  2017      5
     6     1.101470e+07  12023.746791  2017      6
     7     1.058194e+07  14697.878627  2017      7
     8     1.218491e+07  13943.498136  2017      8
     9     1.014741e+07  15181.102881  2017      9
     10    1.062720e+07  18572.812134  2017     10
     11    1.085584e+07  19056.310059  2017     11
     12    1.198282e+07  19006.480252  2017     12
2018 1     1.619405e+07  31025.729818  2018      1
     2     1.758808e+07  29357.768555  2018      2
     3     1.257690e+07  32530.660714  2018      3
     4     1.248579e+07  48965.390439  2018      4
     5     1.607491e+07  49881.655859  2018      5
     6     1.328151e+07  47251.169613  2018      6
     7     9.751796e+06  45451.798828  2018      7
     8     8.823126e+06  45183.607777  2018      8
     9     1.164615e+07  45339.533778  2018      9
     10    1.117359e+07  43197.537202  2018     10
     11    9.526635e+06  42989.947359  2018     11
     12    1.318458e+07  39496.071957  2018     12
2019 1     1.371745e+07  41600.000000  2019      1
     2     1.146607e+07  46308.823529  2019      2
     3     1.116303e+07  44560.000000  2019      3
     4     9.505156e+06  46061.363636  2019      4
     5     1.293262e+07  43023.809524  2019      5
     6     1.024570e+07  44865.789474  2019      6
     7     7.990078e+06  46215.217391  2019      7
     8     9.774299e+06  43840.476190  2019      8
     9     1.094544e+07  47294.736842  2019      9
     10    9.497698e+06  49880.952381  2019     10
     11    1.059733e+07  52195.000000  2019     11
     12    1.324037e+07  53507.500000  2019     12
2020 1     1.599458e+07  58815.000000  2020      1
     2     1.800036e+07  59085.000000  2020      2
     3     3.537865e+07  50331.818182  2020      3
     4     2.120510e+07  49045.000000  2020      4
     5     1.969814e+07  49100.000000  2020      5
     6     2.351997e+07  52986.363636  2020      6
     7     1.901368e+07  54726.086957  2020      7
     8     2.008490e+07  56980.000000  2020      8
     9     2.188569e+07  56371.428571  2020      9

In [ ]:
# http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [25]:
g = sdf.resample(rule='A')
g.mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017-12-31,46713.221757,45887.949791,46285.355649,46300.502092,1.148688e+07,13143.165121,2017.0,6.384937
2018-12-31,47346.942149,46335.165289,46860.785124,46823.471074,1.259780e+07,41784.777424,2018.0,6.487603
2019-12-31,46965.306122,46098.571429,46541.632653,46557.959184,1.089198e+07,46557.959184,2019.0,6.502041
2020-12-31,54665.895954,53333.815029,54018.497110,53975.144509,2.177022e+07,53975.144509,2020.0,4.722543

In [26]:
g = sdf.resample(rule='w')
g.mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017-01-08,36376.000000,35916.000000,36200.000000,36100.0,7.965680e+06,7630.108398,2017.0,1.00
2017-01-15,38116.000000,37300.000000,37500.000000,37800.0,1.238729e+07,7989.421289,2017.0,1.00
2017-01-22,37624.000000,36684.000000,37064.000000,37048.0,1.044830e+07,7830.478027,2017.0,1.00
2017-01-29,39010.000000,38155.000000,38270.000000,38880.0,1.212688e+07,8217.690063,2017.0,1.00
2017-02-05,39680.000000,39220.000000,39610.000000,39350.0,1.438956e+07,8317.029785,2017.0,1.75
...,...,...,...,...,...,...,...,...
2020-08-16,58960.000000,57740.000000,58240.000000,58340.0,1.980363e+07,58340.000000,2020.0,8.00
2020-08-23,58400.000000,56725.000000,57925.000000,56875.0,2.344172e+07,56875.000000,2020.0,8.00
2020-08-30,56500.000000,55640.000000,56200.000000,55980.0,1.550913e+07,55980.000000,2020.0,8.00
2020-09-06,55700.000000,54560.000000,55100.000000,54920.0,2.389285e+07,54920.000000,2020.0,8.80
2020-09-13,58433.333333,56933.333333,57233.333333,58000.0,2.213566e+07,58000.000000,2020.0,9.00

In [28]:
g = sdf.resample(rule='Q')
g.mean()

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017-03-31,39461.290323,38764.516129,38999.032258,39141.935484,1.164004e+07,8330.124512,2017.0,2.032258
2017-06-30,45070.666667,44335.000000,44668.333333,44711.666667,1.212670e+07,11421.773942,2017.0,5.016667
2017-09-30,49144.444444,48332.380952,48771.428571,48768.571429,1.100376e+07,14587.848695,2017.0,7.984127
2017-12-31,54028.148148,52940.370370,53547.407407,53405.555556,1.116375e+07,18896.441479,2017.0,11.037037
2018-03-31,49703.666667,48479.000000,49126.000000,49040.666667,1.534626e+07,31052.067253,2018.0,2.000000
2018-06-30,50477.333333,49385.333333,50009.166667,49909.000000,1.393414e+07,48727.975651,2018.0,4.966667
2018-09-30,46469.672131,45650.000000,46051.639344,46078.688525,9.944799e+06,45323.787205,2018.0,7.918033
2018-12-31,42827.049180,41911.475410,42345.081967,42352.459016,1.123298e+07,41973.156442,2018.0,10.967213
2019-03-31,44361.016949,43431.355932,43903.389831,43960.169492,1.220284e+07,43960.169492,2019.0,1.966102
2019-06-30,45063.709677,44208.064516,44647.580645,44666.129032,1.089301e+07,44666.129032,2019.0,4.951613
2019-09-30,46104.761905,45338.095238,45719.841270,45749.206349,9.476117e+06,45749.206349,2019.0,7.936508
2019-12-31,52305.737705,51385.245902,51867.213115,51828.688525,1.108534e+07,51828.688525,2019.0,10.983607
2020-03-31,56688.709677,55091.129032,55864.516129,55891.935484,2.351983e+07,55891.935484,2020.0,2.032258
2020-06-30,51054.098361,49862.295082,50488.524590,50483.606557,2.157059e+07,50483.606557,2020.0,5.032787
2020-09-30,56564.000000,55390.000000,56036.000000,55858.000000,1.984425e+07,55858.000000,2020.0,7.680000

In [17]:
sdf

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2017-01-02,36240.0,35880.0,35980.0,36100.0,4650600.0,7630.107910,2017,1
2017-01-03,36620.0,36020.0,36280.0,36480.0,7357650.0,7710.425293,2017,1
2017-01-04,36520.0,36100.0,36500.0,36160.0,7971750.0,7642.790527,2017,1
2017-01-05,36060.0,35540.0,36060.0,35560.0,10967450.0,7515.973145,2017,1
2017-01-06,36440.0,36040.0,36180.0,36200.0,8880950.0,7651.245117,2017,1
...,...,...,...,...,...,...,...,...
2020-09-03,56700.0,55500.0,55600.0,56400.0,28384920.0,56400.000000,2020,9
2020-09-04,55800.0,55100.0,55200.0,55600.0,22139109.0,55600.000000,2020,9
2020-09-07,57300.0,55800.0,56100.0,56500.0,18685880.0,56500.000000,2020,9
2020-09-08,58700.0,57200.0,57400.0,58700.0,31517520.0,58700.000000,2020,9
2020-09-09,59300.0,57800.0,58200.0,58800.0,16203590.0,58800.000000,2020,9